{{ 'testimonial.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .testimonial-slider {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="testimonial-slider section-{{ section.id }}-padding">
  <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
    {%- if section.settings.image -%}
      {%- liquid
        assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
        if section.settings.image_behavior == 'ambient'
          assign sizes = '120vw'
          assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
        else
          assign sizes = '100vw'
          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        endif
        assign fetch_priority = 'auto'
        if section.index == 1
          assign fetch_priority = 'high'
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
      }}
    {%- else -%}
      {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <slideshow-component
    class="banner__content color-{{ section.settings.color_scheme }}"
    style="flex-direction: column"
  >
    {%- if section.settings.heading != blank -%}
      <h2 class="inline-richtext {{ section.settings.heading_size }} testimonial-heading">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    <div
      class="slideshow grid grid--1-col slider slider--everywhere{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
      id="Slider-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
    >
      {%- for block in section.blocks -%}
        <div
          class="color-{{ block.settings.color_scheme }} slideshow__slide grid__item grid--1-col slider__slide"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          {{ block.shopify_attributes }}
          role="group"
          tabindex="-1"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        >
          <div class="testimonial-content">
            <p class="quote {{ block.settings.text_style }}">{{ block.settings.quote }}</p>
            <div class="testimonial-person">
              {% if block.settings.image %}
                {{
                  block.settings.image
                  | image_url: width: 150
                  | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {% endif %}
              <p class="name">{{ block.settings.name }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {%- if section.blocks.size > 1 -%}
      <div class="slideshow__controls slideshow__controls--top slider-buttons testimonial-control">
        <div class="slider-counter slider-counter--dots">
          <div class="slideshow__control-wrapper">
            {%- for block in section.blocks -%}
              <button
                class="slider-counter__link slider-counter__link--dots link"
                aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                aria-controls="Slider-{{ section.id }}"
              >
                <span class="dot"></span>
              </button>
            {%- endfor -%}
          </div>
        </div>
      </div>
      <button
        type="button"
        class="prev-btn slide-btn"
        name="previous"
        aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        {% render 'icon-caret' %}
      </button>
      <button
        type="button"
        class="next-btn slide-btn"
        name="next"
        aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
        aria-controls="Slider-{{ section.id }}"
      >
        {% render 'icon-caret' %}
      </button>
    {%- endif -%}
  </slideshow-component>
</div>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
      "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "id": "quote",
          "type": "inline_richtext",
          "label": "Testimonial Quote",
          "default": "Not only about the design but the quality. Never Have I ever found such an awesome case"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Uppercase"
            }
          ],
          "default": "body",
          "label": "Text style"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "name",
          "type": "inline_richtext",
          "label": "Name",
          "default": "Rhona Bowers"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
